<div style="margin-top: 5px">
    <div class="row">
        <div class="col-lg-4 ">
            <img class="thumbnail_my_videos" src="https://i.ytimg.com/vi/{{videoId}}/hqdefault.jpg">
        </div>
        <div class="col-lg-7" style="text-align: left">
            <p>{{title}}</p>
        </div>
        <div class="col-lg-1" style="text-align: right; display: flex; align-items:center;">
            <i class="fas fa-trash-alt" onclick='deleteFromArray("{{title}}", "{{videoId}}")' style="font-size: 20px"></i>
        </div>
    </div>
</div> 